@model IEnumerable<a5.Models.ShoppingCartItem>
@inject a5.Models.CartDB DB

<div style="overflow:auto">
    <h1 style="float:left">Cart page</h1>
    <a asp-action="paymentinfo" class="btn btn-primary" style="float:right"> Check Out</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            //var userClient = new UserClient("https://webstoreapp.azurewebsites.net");
            @if (item.UserId.Equals(UserClient.username))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>

                    @foreach (var product in DB.GetProductsAsync().Result)
                    {
                        if (product.ProductName.Equals(item.ProductName))
                        {
                            <td>@product.Price $</td>
                        }
                    }

                    <td>
                        <form asp-action="POST">
                            <input name="ID" type="number" value="@item.ID" style="display:none" />
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </td>
                </tr>
            }

        }

    </tbody>
    <tr>
        <td>
            Total
        </td>
        <td>
            @ViewData["Total"] $
        </td>
    </tr>

</table>
<div style="overflow:auto">
    <a asp-action="index" class="btn btn-primary" style="float:left"> Back</a>
    <a asp-action="crush" class="btn btn-danger" style="float:right"> Crush</a>
    <div style="clear:both"></div>
</div>

